#Data Types and Structures Practical

In [2]:
#1.Create a string with your name and print it
name = "Parsanjeet"
print(name)

Parsanjeet

In [3]:
#2.Find the length of the string "print hello world"
print(len("Hello World"))

11

In [4]:
# 3.Slice the first 3 characters from "Python Programming"

print("Python Programming"[:3])

Pyt

In [5]:
# 4.Convert "hello" to uppercase

print("hello".upper())

HELLO

In [6]:
#5.Replace "apple" with "orange" in "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [7]:
#6. Create a list with numbers 1 to 5 and print it
print("I like apple".replace("apple", "orange"))

I like orange

In [8]:
#7.Append 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
#8.Remove 3 from the list [1, 2, 3, 4, 5]

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [10]:
#9.Access the second element in ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [11]:
#10.Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [12]:
#11.Create a tuple with 100, 200, 300 and print it

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [13]:
#12. Access the second-to-last element of ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#13. Find the minimum number in (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
#14.Find the index of "cat" in ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
#15.Create a tuple of three fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [17]:
#16.Create a set with 'a', 'b', 'c' and print it

s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [18]:
#17.Clear all elements from the set {1, 2, 3, 4, 5}

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
#18.Remove 4 from the set {1, 2, 3, 4}

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
#19.Find the union of sets {1, 2, 3} and {3, 4, 5}

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
#20.Find the intersection of sets {1, 2, 3} and {2, 3, 4}

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [22]:
#21.Create a dictionary with keys "name", "age", and "city"

d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
#22.Add key "country": "USA" to {'name': 'John', 'age': 25}

d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23.Access the value of "name" in {'name': 'Alice', 'age': 30}

d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [25]:
#24.Remove key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [27]:
#26.Create a list, tuple, and dictionary and print them

lst = [1, 2, 3]
tup = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(lst)
print(tup)
print(d)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [28]:
#27.create list of 5 random numbers (1â€“100), sort and print


import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[4, 10, 71, 87, 97]

In [29]:
#28.Create list with strings and print element at third index

lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

In [30]:
#29.Combine two dictionaries and print

dict1 = {'a': 1}
dict2 = {'b': 2}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2}

In [31]:
#30. Convert list of strings to a set

lst = ["apple", "banana", "apple"]
print(set(lst))

{'apple', 'banana'}